outputs/
decaNLP_final_dataset_with_verified_len/
__pycache__/
decaNLP_inlingual_prompts/
decaNLP_dataset_with_train_len_15k/
decaNLP_dataset_with_train_len_10k/
parallel_corpus/
filtered_parallel_corpus/
original_adapters_lib/
sampled_parallel_corpus/
our_approch/
~/
adapters/
temp.py
temp/
Progressive_prompts/pp_outputs*
outputs.txt
freeze_unfreeze*
frozen_embeddings*
trainable_embeddings*
pp_outputs/
Progressive_prompts/
outputs_online_ewc/